.profile-card{
  background-color: #26004d;
background-image: radial-gradient(at 5% 92%, hsla(48, 86%, 58%, 1) 0, hsla(48, 86%, 58%, 0) 50%),
radial-gradient(at 5% 40%, hsla(19, 85%, 68%, 1) 0, hsla(19, 85%, 68%, 0) 50%),
radial-gradient(at 75% 72%, hsla(346, 95%, 65%, 1) 0, hsla(346, 95%, 65%, 0) 50%),
radial-gradient(at 69% 35%, hsla(276, 95%, 54%, 1) 0, hsla(276, 95%, 54%, 0) 50%),
radial-gradient(at 39% 95%, hsla(17, 91%, 65%, 1) 0, hsla(17, 91%, 65%, 0) 50%),
radial-gradient(at 85% 5%, hsla(209, 87%, 68%, 1) 0, hsla(209, 87%, 68%, 0) 50%),
radial-gradient(at 74% 34%, hsla(189, 91%, 60%, 1) 0, hsla(189, 91%, 60%, 0) 50%);
}

.profile-card-image{
  position: absolute;
  top:0;

}
.css-79elbk {
  position: relative;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% )!important;
}